<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>

<body>
    <table id="personal-details">
        <tr>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>{{student['roll_number']}}</td>
            <td>{{student['first_name']}}</td>
            <td>{{student['last_name']}}</td>
        </tr>
    </table>
    <table id="enroll-table">
        <tr>
            <th>S. No.</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ course["course_code"] }}</td>
            <td>{{ course["course_name"] }}</td>
            <td>{{ course["course_description"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>