<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom_validations.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"></h1>
        </div>
        <div class="error">
            {%if error%}
                {{ error }}
            {%endif%}
        </div>
        <div class="row">
            <div class="col-md-8">
                <form action="/feedback" method="post" onsubmit="validate(event)">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" class="form-control" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="feedback">Feedback</label>
                        <textarea class="form-control" id="feedback" name="feedback" rows="10" required></textarea>
                    </div>
                    <div class="form-group">
                        <button ontype="submit" class="btn btn-primary mb-2">Send</button>
                    </div>
                </form>
                <div class="col-md-4">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>