<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Data</title>
    <style> 
    table, th, td {
    border: 1px solid;
    }
    </style>
</head>
<body>
    <h1>Course Details</h1>
    <table>
        <tr>
            <td>Average Marks</td>
            <td>Maximum Marks</td>
        </tr>
        <tr>
            <td>{{ avg_marks }}</td>
            <td>{{ max_marks }}</td>
        </tr>
        
    </table>
    <img src="histogram.png" alt="marks histogram">
    <a href="/">Go Back</a>
</body>
</html>